@import '../../../assets/scss/variables.scss';

.searchbar {
  background: #fff;
  color: $text-active;
  //max-width: 350px;

  input:focus,
  &::selection, &::placeholder {
    box-shadow: none;
    color: $text-active
  }
}
