<div class="mini-card p-3 m-3 green">
  <h2 class="mb-3">Bulbasaur</h2>
  <div class="row">
    <div class="col-6">
      <ul>
        <li class="tips mb-2">Grass</li>
        <li class="tips">Poison</li>
      </ul>
    </div>
    <div class="col-6">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/1.png"
        alt="">
    </div>
  </div>
</div>

<div class="mini-card p-3 m-3 red">
  <h2 class="mb-3">Charmander</h2>
  <div class="row">
    <div class="col-6">
      <ul>
        <li class="tips mb-2">Fire</li>
      </ul>
    </div>
    <div class="col-6">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/5.png"
        alt="">
    </div>
  </div>
</div>

<div class="mini-card p-3 m-3 yellow">
  <h2 class="mb-3">Pikachu</h2>
  <div class="row">
    <div class="col-6">
      <ul>
        <li class="tips mb-2">Eletric</li>
      </ul>
    </div>
    <div class="col-6">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
        alt="">
    </div>
  </div>
</div>
<div class="mini-card p-3 m-3 blue">
  <h2 class="mb-3">Squirtle</h2>
  <div class="row">
    <div class="col-6">
      <ul>
        <li class="tips mb-2">Water</li>
      </ul>
    </div>
    <div class="col-6">
      <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/7.png"
        alt="">
    </div>
  </div>
</div>
