<!--a-- routerLink="/card" class="mini-card p-3 m-3" *ngFor="let pokemon of pokemons" [ngClass]="pokemon.class">
  <h2 class="mb-3 text-capitalize">{{ pokemon.name }}</h2>
  <div class="row">
    <div class="col-6">
      <ul>
        <li class="tips mb-2 text-capitalize">{{ pokemon.types }}</li>
      </ul>
    </div>
    <div class="col-6">
      <img [src]="pokemon.img" alt="">
    </div>
  </div>
</!--a-->

<a class="mb-3" routerLink="/card" *ngFor="let pokemon of pokemons">
  <div class="mini-card p-3 border row" [ngClass]="pokemon.class">
    <h2 class="col-12 mb-3 text-capitalize">{{ pokemon.name }}</h2>
    <div class="col-6">
      <ul>
        <li class="tips mb-2 text-capitalize">{{ pokemon.types }}</li>
      </ul>
    </div>
    <div class="col-6">
      <img [src]="pokemon.img"
        alt="">
    </div>
  </div>
</a>
