@import '../../../assets/scss/variables.scss';

.mini-card {
  width: 280px;
  height: 200px;
  background: url('../../../assets/images/pokeball.svg');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 120px;
  border-radius: 20px;

  h2 {
    color: #fff;
  }

  img {
    width: 120px;
    height: 120px;
  }

  .tips {
    width: 100px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.4);

    color: #fff;
    font-weight: 600;
  }
}

.green {
  background-color: $green;
}

.yellow {
  background-color: $yellow;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}
