/* You can add global styles to this file, and also import other style files */
@import "assets/scss/variables.scss";

* {
  margin: 0 !important;
  padding: 0 !important;
}

li {
    list-style-type: none;
}

.text-active {
  color: $text-active;
}

.text-inactive {
  color: $text-inactive;
}
